<div class="relative my-24 overflow-hidden">
  <!-- Elemento antes del contenido -->
  <div class="before-element absolute left-0 top-0 z-[2] w-[100px] content-['']"></div>
  <!-- Elemento después del contenido -->
  <div class="after-element absolute right-0 top-0 z-[2] w-[100px] -scale-x-100 content-['']"></div>

  <!-- Contenedor con animación -->
  <div class="animate-infinite-slider flex w-[calc(450px*10)]">
    <div class="slide flex w-[125px] items-center justify-center">
      <!-- Aquí puedes renderizar el contenido de logo -->
      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-angular.png" alt="logo" />

      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-html5.png" alt="logo" />

      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-javascript.png" alt="logo" />

      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-c-sharp.png" alt="logo" />
    </div>
    <!-- Segundo grupo de logos -->
    <div class="slide flex w-[125px] items-center justify-center">
      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-angular.png" alt="logo" />

      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-html5.png" alt="logo" />

      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-javascript.png" alt="logo" />

      <img class="drop-shadow-[0_0_5px_rgba(255,255,255,1)]" src="../../../assets/brand-c-sharp.png" alt="logo" />
    </div>
  </div>
</div>
