<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-grow">
    <!-- <app-section id="home" class="py-44 pb-32 flex flex-col gap-y-10"> -->
    <app-section id="home" class="pt-28 lg:pt-44 container mx-auto h-full">
      <div class="flex flex-col lg:flex-row xl:flex-row items-center justify-between xl:pt-8 xl:pb-24">
        <div class="text-center xl:text-left order-2 lg:order-none xl:order-none">
          <span class="text-xl text-black/70 dark:text-gray-400">Desarrollador de Software</span>
          <h1 class="text-4xl mb-6 text-black/80 dark:text-gray-100">Hola, yo soy <br /> <span
              class="text-blue-400">Jorge Bernal</span></h1>
          <p class="max-w-[500px] mb-9 text-white/70">+1 años de experiencia. <strong class="text-blue-400">Ingeniero de
              Gestión y Desarrollo de Software Multiplataforma</strong> de Sonora, México. Especializado en el
            desarrollo backend.</p>
          <div class="flex flex-col lg:flex-row items-center">
            <button class="uppercase flex items-center gap-2">Descargar CV</button>
            <div class="mb-8 lg:mb-0">
              <i class="cil-energy icon icon-xxl"></i>
<i class="cib-twitter icon icon-xxl"></i>
            </div>
          </div>
        </div>
        <div class="order-1 lg:order-none xl:order-none mb-8 xl:mb-0">
          <div class="w-full h-full relative">
            <div class="w-[248px] h-[248px] xl:w-[498px] xl:h-498px">
              <img src="https://i.ibb.co/3v4FBwx/photo-removebg-preview.png" alt="Foto Jorge Bernal"
                class="img-custom aspect-square object-contain rounded-full" />
            </div>
          </div>
        </div>
      </div>
    </app-section>

    <app-section id="experience"></app-section>
  </main>

  <!-- <app-footer></app-footer> -->
</div>
